
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 style="text-align: center">Certificate Subjects</h1><br>
        <div class="row" [hidden]="!deleteMessage">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong> Data Deleted</strong>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

    <div class="panel-body">
        <table class="table table-hover table-sm" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead class="thead-light">
                <tr>
                    <th> Common Name </th>
                    <th> Entity Type </th>
                    <th> Surname </th>
                    <th> Given Name </th>
                    <th> Organization </th>
                    <th> Organization Unit Name </th>
                    <th> Country Code </th>
                    <th> Email </th>
                    <th> Action </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subject of certificateSubjects ">
                    <td>{{subject.commonName}}</td>
                    <td>{{subject.entityType}}</td>
                    <td>{{subject.surname}}</td>
                    <td>{{subject.givenName}}</td>
                    <td>{{subject.organization}}</td>
                    <td>{{subject.organizationUnitName}}</td>
                    <td>{{subject.countryCode}}</td>
                    <td>{{subject.email}}</td>

                    <td><button (click)="delete(subject.id)" class='btn btn-primary'><i
                                class="fa fa-futboll-0">Delete</i></button>&nbsp;
                    </td>
                </tr>
            </tbody><br>
        </table>
    </div>
</div>