<div class="panel panel-default">
    <div class="panel-heading">
        <h1 style="text-align: center">Entities</h1><br>
        <div class="row" [hidden]="!deleteMessage">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                          <div class="alert alert-info alert-dismissible">
                                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                                  <strong>Entity Data Deleted</strong>
                          </div>
                  </div>
                  <div class="col-sm-4"></div>
        </div>           
    </div>
  
    
    <div class="panel-body">
        <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"  >
            <thead class="thead-light">
                <tr>
                    <th>Entity Common Name</th>
                    <th>Entity Type</th>
                    <th>Entity Surname</th>
                    <th>Entity Given Name</th>
                    <th>Entity Organization</th>
                    <th>Entity Organization Unit Name</th>
                    <th>Entity Country Code</th>
                    <th>Entity Email</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                 <tr *ngFor="let entity of entities ">
                    <td>{{entity.entity_commonName}}</td>
                    <td>{{entity.entity_type}}</td>
                    <td>{{entity.entity_surname}}</td>
                    <td>{{entity.entity_givenName}}</td>
                    <td>{{entity.entity_organization}}</td>
                    <td>{{entity.entity_orgUnitName}}</td>
                    <td>{{entity.entity_countryCode}}</td>
                    <td>{{entity.entity_email}}</td>
                    
                    <td><button (click)="deleteEntity(entity.entity_id)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                    </td>
                  </tr> 
            </tbody><br>
        </table>
    </div>
</div> 
  
  